@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit.woff2') format('woff2'), url('../assets/fonts/outfit.woff') format('woff'),
    url('../assets/fonts/outfit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}
